/.metadata/
*.class
/AutomationProject/.settings
/AutomationProject/logs
/AutomationProject/Screenshots
/AutomationProject/target
/AutomationProject/test-output
/AutomationProject/.classpath
/AutomationProject/.project
